{% load static %}

<div class='busca_container'>
    <h2>ENCONTRE A CASA DOS SEUS SONHOS!</h2>
    <div class="form_busca_div">
        <form action="{% url 'busca' %}" method="POST" id="form_busca">
            {% csrf_token %}
            <div class="form_format">
                <div class="form_row">

                    <div class="form_field">
                        <label for="tipo_negocio">Imóvel para</label>
                        <select class='form_checkbox_index' id="tipo_negocio" name="tipo_negocio">
                            <option value="Venda">Comprar</option>
                            <option value="Aluguel">Alugar</option>
                        </select>
                    </div>
                    
                    <div class="form_field">
                        <label for="cidade">Cidade</label>
                        <select class='form_checkbox_index' id="cidade" name="cidade">
                            <option value="Mogi das Cruzes">Mogi das Cruzes</option>
                            <option value="Suzano">Suzano</option>
                            <option value="Guararema">Guararema</option>
                        </select>
                    </div>

                    <div class="form_field">
                        <label for="bairro">Bairro</label>
                        <select class='form_checkbox_index' id="bairro" name="bairro">
                            <option value="Vila Costa">Vila Costa</option>
                            <option value="Centro">Centro</option>
                            <option value="Vila Oliveira">Vila Oliveira</option>
                        </select>
                    </div>
                
                </div>

                <div class="form_row">

                    <div class="form_field">
                        <label for="tipo_imovel">Tipo de Imóvel</label>
                        <select class='form_checkbox_index' id="tipo_imovel" name="tipo_imovel">
                            <option value="Casa / Padrão">Casa / Padrão</option>
                            <option value="Apartamento">Apartamento</option>
                            <option value="Comercial">Comercial</option>
                        </select>
                    </div>

                    <div class="form_field">
                        <label for="valor_min">Valor Mínimo</label>
                        <input type="number" class="form_field_num" id="valor_min" name="valor_min" placeholder="Valor Mínimo (R$)">
                    </div>

                    <div class="form_field">
                        <label for="valor_max">Valor Máximo</label>
                        <input type="number" class="form_field_num" id="valor_max" name="valor_max" placeholder="Valor Máximo (R$)">
                    </div>
                
                </div>
            
                <div class="form_row">

                    <div class="form_field">
                        <input class="submit_button" type="submit" placeholder="ENVIAR">
                    </div>
                
                </div>
                    
                    
            
            </div>
            
            
        </form>
    </div>
</div>
