{% load static %}

<div class='busca_container'>
    <h2>ENCONTRE A CASA DOS SEUS SONHOS!</h2>
    <div class="form_busca_div">
        <form action="{% url 'busca' %}" method="POST" id="form_busca">
            <div style="display:none" id='cidade_bairro'>{{ cidade_bairro }}</div>
            {% csrf_token %}
            <div class="form_format">
                <div class="form_row">

                    <div class="form_field">
                        <label for="tipo_negocio">Imóvel para</label>
                        <select class='form_checkbox_index' id="tipo_negocio" name="tipo_negocio"
                        onchange="if (this.value) tipo_negocio_check(this.value)">
                            <option value="Compra">Comprar</option>
                            <option value="Aluguel">Alugar</option>
                        </select>
                    </div>
                    
                    <div class="form_field">
                        <label for="cidade">Cidade</label>
                        <select class='form_checkbox_index' id="cidade" name="cidade" 
                        onchange="if (this.value) cidade_check(this.value)">
                        </select>
                    </div>

                    <div class="form_field">
                        <label for="bairro">Bairro</label>
                        <select class='form_checkbox_index' id="bairro" name="bairro"
                        onchange="if (this.value) bairro_check(this.value)">
                        </select>
                    </div>
                
                </div>

                <div class="form_row">

                    <div class="form_field">
                        <label for="tipo_imovel" >Tipo de Imóvel</label>
                        <select class='form_checkbox_index' id="tipo_imovel" name="tipo_imovel">

                        </select>
                    </div>

                    <div class="form_field">
                        <label for="valor_min">Valor Mínimo</label>
                        <input type="number" class="form_field_num" id="valor_min" name="valor_min" placeholder="Valor Mínimo (R$)">
                    </div>

                    <div class="form_field">
                        <label for="valor_max">Valor Máximo</label>
                        <input type="number" class="form_field_num" id="valor_max" name="valor_max" placeholder="Valor Máximo (R$)">
                    </div>
                
                </div>
            
                <div class="form_row">

                    <div class="form_field">
                        <input class="submit_button" type="submit" placeholder="ENVIAR">
                    </div>
                
                </div>
                    
                    
            
            </div>
            
            
        </form>
    </div>
</div>

<script>
    cidades_bairros = document.getElementById('cidade_bairro').innerHTML
    array_cb = JSON.parse(cidades_bairros)

    tipo_negocio_check('Compra')

    function tipo_negocio_check(tipo_negocio){
        array_cidades = []
        array_cb.forEach(element => {
            if(element.tipo_negocio == tipo_negocio && !(array_cidades.includes(element.cidade))){
                array_cidades.push(element.cidade)
            }
        })

        cidade_form = document.getElementById('cidade')
        cidade_form.innerHTML = ''

        ciclo = 0
        array_cidades.forEach(cid => {
            cidade_form.innerHTML += `<option value="${cid}">${cid}</option>`
            if(ciclo == 0){
                cidade_check(cid)
            }
            ciclo++
        })

    }
    
    function cidade_check(cidade){
        array_bairros = []

        array_cb.forEach(element => {
            if(element.cidade == cidade && !(array_bairros.includes(element.bairro))){
                array_bairros.push(element.bairro)
            }
        });
        
        bairro_form = document.getElementById('bairro')
        bairro_form.innerHTML = ''

        ciclo = 0
        array_bairros.forEach(bairro => {
            bairro_form.innerHTML += `<option value="${bairro}">${bairro}</option>`
            if(ciclo == 0){
                bairro_check(bairro)
            }
        })

    }

    function bairro_check(bairro){
        array_tipo_imovel = []

        array_cb.forEach(element => {
            if(element.bairro == bairro && !(array_tipo_imovel.includes(element.tipo_imovel))){
                array_tipo_imovel.push(element.tipo_imovel)
            }
            if(bairro == 'Todos' && !(array_tipo_imovel.includes(element.tipo_imovel))){
                array_tipo_imovel.push(element.tipo_imovel)
            }
        });
        
        tipo_imovel_form = document.getElementById('tipo_imovel')
        tipo_imovel_form.innerHTML = ''

        array_tipo_imovel.forEach(tipo_imovel => {
            tipo_imovel_form.innerHTML += `<option value="${tipo_imovel}">${tipo_imovel}</option>`

        })

    }



    
</script>