 {% load static %}

 <!-- HEADER START -->
 <header>
    <div class="mainheader">
        <a class="logo item_header" href="{% url 'index' %}">
            <div id="imobi">IMOBI</div>
            <div id="sub_imobi">sua imobiliária</div>
        </a>
        <label class="btn_menu_responsive" for="bt_menu" onclick="open_menu()">&#9776;</label>
        <ul class='navigation item_header menu_responsive_closed' id="navigation">    

            <li class="navbuttom"><a href="{% url 'index' %}"> Página Inicial</a></li>
            <li class="navbuttom"><a href="{% url 'servicos' %}"> Serviços</a></li>
            <li class="navbuttom"><a href="{% url 'sobre' %}"> Sobre</a></li>
            <li class="navbuttom"><a href="{% url 'contato' %}"> Contato</a></li>

        </ul>
    </div>
</header>
<!-- HEADER END -->

<script>
    function open_menu(){
        navigation = document.getElementById('navigation');
        if(navigation.classList.contains('menu_responsive_closed')){
            navigation.classList.remove('menu_responsive_closed');
            navigation.classList.add('menu_responsive_open');
        }else{
            navigation.classList.remove('menu_responsive_open');
            navigation.classList.add('menu_responsive_closed');
        }
    }
</script>