 {% load static %}

 <!-- HEADER START -->
 <header>
    <div class="mainheader">
        <div class="logo item_header">
            <div id="imobi">IMOBI</div>
            <div id="sub_imobi">sua imobiliária</div>
        </div>
        <nav class='navbar item_header'>
            <ul>
                <li class="navbuttom"><a href="#"> Página Inicial</a></li>
                <li class="navbuttom"><a href="#"> Imóveis</a></li>
                <li class="navbuttom"><a href="#"> Serviços</a></li>
                <li class="navbuttom"><a href="#"> Sobre</a></li>
                <li class="navbuttom"><a href="#"> Contato</a></li>
            </ul>
        </nav>
        <div class="search_btm item_header">
            <i class="fa fa-search"></i>
        </div>
    </div>
</header>
<!-- HEADER END -->