*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    color: black;
}

/*  Cores compostas.
    Marrom #8A4529
    Bege Escuro #BDA297
    Marrom Escuro #572323
    Verde Escuro #416341
    Veder POuco mais claro #4B8A29  */

body{
    background-color: #BDA297;
}

header{
    width: 100%;
}

.mainheader{
    background-color: white;

    width: 100%;
    height: 150px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.295);
}

.item_header{
    margin: 30px;
    display: flex;
    justify-content: flex-end;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#imobi{
    font-family: 'Fraunces', serif;
    font-size: 50px;
    
}

#sub_imobi{
    font-family: 'Fraunces', serif;
    font-size: 20px;
    margin-top: -10px;
    text-align: center;
}

.navigation{
    width: 60%;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@keyframes onhover{
    0%{font-size: 18px; color: rgb(87, 35, 35);}
    100%{font-size: 20px; color: rgb(129, 54, 54);}
}

.navigation li{
    list-style: none;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li a{
    text-decoration: none;
    color: rgb(87, 35, 35);
}

.navigation li a:hover{
    animation-name: onhover;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

.mainheader label{
    padding: 5px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    width: 20%;
    height: 100%;
    box-sizing: border-box;

    display: none;
}



.search_btm{
    width: 5%;
}

/* FOOTER STYLE */
footer{
    background-color: rgb(87, 35, 35);
    width: 100%;
    height: 120px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(180, 180, 180);
}

.Logo_Footer{
    width: 25%;
    padding-right: 30px;
    border-right: 3px solid white;
}

.Logo_Footer #imobi{
    text-align: center;
}

.redes_sociais{
    display: block;
    width: 25%;
    margin-left: 30px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.redes_sociais a{
    color: rgb(180, 180, 180);
}

/* INDEX STYLE */
.banner{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color: #572323;
}

.img_banner{
    width: 100%;
    height: 250px;
    object-fit: none;
    object-position: 50% 65%;
}

#text_banner{
    position: absolute;
    bottom: 0px;
    right: 100px;
    padding: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    color: white;
    text-shadow: 5px 5px 5px black;
}

/* MAIN CONTENT */
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
}


/* BUSCA INDEX */
.busca_container{
    width: 90%;
    

    border-radius: 20px;
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.342);

    background-color: rgba(255, 255, 255, 0.514);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.busca_container h2{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: rgb(39, 39, 39);
    margin-bottom: 10px;

}

.form_busca_div{
    width: 100%;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    font-weight: 500;

    text-align: center;

    display: flex;
    flex-direction: column;

}

.form_checkbox_index{
    width: 100%;
    height: 30px;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgb(41, 41, 41);

    padding: 5px;
}

.form_field_num{
    width: 100%;
    height: 30px;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgb(41, 41, 41);
    padding: 5px;
}

.form_field{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_row{
    display:flex;
    justify-content: center;
    align-items: center;
}

.submit_button{
    padding: 10px;
    border-radius: 5px;

    font-family: 'Fraunces', serif;
    font-size: 18px;
    
}

/* CASAS DESTAQUE INDEX */
.casas_destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 20px;
}

.casa_destaque{
    padding: 15px;
    margin: 15px;

    /* Defino que ele tem que ocupar um espaço na linha igual a todos os outros elementos, com 30% de tamanho */
    flex: 1 0 30%; 
        
    max-width: 30%;
    min-width: 300px;
    
    background-color: #8a442975;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);

    display: block;
    /*flex-direction: column;
    justify-content: center;
    align-items: center; */

    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.cd_linha{
    padding: 3px;
}

.casa_destaque_img{
    width: 100%;
    height: 200px;
    border-radius: 10px;

    object-fit: cover;
}

.casa_destaque_bairro{
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.658);
}

.casa_destaque_negocio{
    font-weight: 700;
}

.casa_destaque_valor{
    font-size: 20px;
    font-weight: 700;
}

.casa_destaque_btn{
    background-color: #416341;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin: auto;

    text-decoration: none;
}

.btn_area{
    display:flex;
    justify-content: center;
}

@keyframes hover_destaque{
    0%{
        box-shadow: 10px 10px 15px rgba(110, 110, 110, 0.801);
    }
}

.casa_destaque:hover{
    animation-name: hover_destaque;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
}

/*

    RESPONSIVIDADE

*/

@media (max-width: 900px){
    /* RESPONSIVIDADE MENU */

    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .navigation{
        width: 30%;
        height: 100%;
        padding: 0px;

        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;

        background-color:#572323;
        

        border-radius: 0px 0px 10px 10px;
    }

    .navigation li a{
        color: white;
    }

    @keyframes onhover{
        0%{font-size: 18px; color: white;}
        100%{font-size: 20px; color: whitesmoke;}
    }
    

    .menu_responsive_closed{
        display: none;
    }

    .menu_responsive_open{
        width: 100%;
        height: auto;
        position: absolute;
        top: 150px;
        left: 0px;

        z-index: 5;

        padding: 30px;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    

    .mainheader label{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    /* RESPONSIVIDADE INDEX */

    .busca_container h2{
       text-align: center;
    
    }
        
    .form_row{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form_field{
        text-align: center;
    }

    .form_field label{
        text-align: center;
        font-size: 20px;
        width: 100%;

        display: flex;
        justify-content: center;
    }

    /* RESPONSIVIDADE FOOTER */
    footer{

        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(180, 180, 180);
        height: auto;
    }
    
    .Logo_Footer{
        width: 80%;
        padding-right: 0px;
        border-right: 0px solid white;
    }

    .redes_sociais{
        display: block;
        width: 80%;
        margin: 0;
        text-align: center;
    }
    
}
