{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/_menu.html' %}

    <div class="main_content">

        <div class="main_content_box">
            <h1> CADASTRO DE IMÓVEIS </h1>
            <div class="text_main_content_box">
                <p>Cadastre o imovel desejado abaixo</p>
                <form action='{% url "cadastro_imoveis" %}' method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Cliente:</label>
                    <input class='cadastro_input' type="text" name="cliente" placeholder="Nome do Cliente" required>

                    <label>Cidade:</label>
                    <select class='cadastro_input' type="text" name="cidade" placeholder="Cidade" required>
                        <option value="Mogi das Cruzes">Mogi das Cruzes</option>
                        <option value="Suzano">Suzano</option>
                        <option value="Guararema">Guararema</option>
                        <option value="Biritiba Mirim">Biritiba Mirim</option>
                        <option value="Arujá">Arujá</option>
                    </select>

                    <label>Bairro:</label>
                    <input class='cadastro_input' type="text" name="bairro" placeholder="Bairro" required>

                    <label>Rua:</label>
                    <input class='cadastro_input' type="text" name="rua" placeholder="Rua" required>

                    <label>Número:</label>
                    <input class='cadastro_input' type="text" name="numero" placeholder="Número" required>

                    <label>Complemento:</label>
                    <input class='cadastro_input' type="text" name="complemento" placeholder="Complemento">

                    <label>Tipo de negócio:</label>
                    <select class='cadastro_input' type="text" name="tipo_negocio" required>
                        <option value="Aluguel">Aluguel</option>
                        <option value="Compra">Compra</option>
                    </select>

                    <label>Tipo de imóvel:</label>
                    <select class='cadastro_input' type="text" name="tipo_imovel" required>
                        <option value="Casa / Padrão">Casa / Padrão</option>
                        <option value="Casa / Condomínio">Casa / Condomínio</option>
                        <option value="Chácara">Chácara</option>
                        <option value="Apartamento">Apartamento</option>
                        <option value="Kitnet">Kitnet</option>
                    </select>

                    <label>Valor Aluguel:</label>
                    <input class='cadastro_input' type="number" name="valor_aluguel" placeholder="Valor Aluguel" value=0>

                    <label>Valor Venda:</label>
                    <input class='cadastro_input' type="number" name="valor_venda" placeholder="Valor Venda" value=0>

                    <label>Valor IPTU:</label>
                    <input class='cadastro_input' type="number" name="valor_iptu" placeholder="Valor IPTU" value=0>

                    <label>Valor Condomínio:</label>
                    <input class='cadastro_input' type="number" name="valor_condominio" placeholder="Valor Condomínio" value=0>

                    <label>Área:</label>
                    <input class='cadastro_input' type="number" name="area" placeholder="Área" required>

                    <label>Quartos:</label>
                    <input class='cadastro_input' type="number" name="quartos" placeholder="Qtd. Quartos" required>

                    <label>Suítes:</label>
                    <input class='cadastro_input' type="number" name="suites" placeholder="Qtd. Suítes">

                    <label>Banheiros:</label>
                    <input class='cadastro_input' type="number" name="banheiros" placeholder="Banheiros" required>

                    <label>Vagas de Garagem:</label>
                    <input class='cadastro_input' type="number" name="vagas" placeholder="Vagas de Garagem" value=0>

                    <label>Andar:</label>
                    <input class='cadastro_input' type="number" name="andar" placeholder="Andar" value=0>

                    <label>Possui metrô próximo:</label>
                    <input class='cadastro_input' type="checkbox" name="metro_proximo">

                    <label>Mobiliado:</label>
                    <input class='cadastro_input' type="checkbox" name="mobiliado">

                    <label>Descrição:</label>
                    <textarea class="cadastro_textarea" name="descricao"></textarea>

                    <label>Publicar:</label>
                    <input class='cadastro_input' type="checkbox" name="publicado">

                    <label>Fotos:</label>
                    <input type="file" name='imagens' accept="image/x-png,image/jpeg" multiple>

                    <input class='cadastro_submit' type="submit" name="Cadastrar">


                </form>
            </div>
        </div>

    </div>
   



    {% include 'partials/_footer.html' %}
    
{% endblock %}

