{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/_menu.html' %}

        <!--Banner START-->
            <div class='banner' id="main_banner">
                <div id="fade">
                    <div class='unit'>
                        <img class="img_banner" id="img_banner_id" src="{% static 'images/casa2.jpg' %}">
                        <p id='text_banner'>Encontre aqui sua nova casa!"</p>
                    </div>
                    <div>
                        <img class="img_banner" id="img_banner_id" src="{% static 'images/casa4.jpg' %}">
                        <p id='text_banner'>Encontre aqui sua nova casa!2"</p>
                    </div>
                    <div>
                        <img class="img_banner" id="img_banner_id" src="{% static 'images/casa3.jpg' %}">
                        <p id='text_banner'>Encontre aqui sua nova casa!3"</p>
                    </div>

                    
                </div>
            </div>
        <!--Banner END-->


        <!-- MAIN CONTENT START-->    
        <div class="main_content">

            <!-- Busca START -->
                <div class='busca_container'>
                    <h2>ENCONTRE A CASA DOS SEUS SONHOS!</h2>
                    <div class="form_busca_div">
                        <form action=" " method="POST" id="form_busca">
                            <div class="form_format">
                                <div class="form_row">

                                    <div class="form_field">
                                        <label for="tipo_negocio">Imóvel para</label>
                                        <select class='form_checkbox_index' id="tipo_negocio" name="tipo_negocio">
                                            <option value="comprar">Comprar</option>
                                            <option value="alugar">Alugar</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form_field">
                                        <label for="cidade">Cidade</label>
                                        <select class='form_checkbox_index' id="cidade" name="cidade">
                                            <option value="comprar">Casa</option>
                                            <option value="alugar">Apartamento</option>
                                            <option value="alugar">Comercial</option>
                                        </select>
                                    </div>
    
                                    <div class="form_field">
                                        <label for="bairro">Bairro</label>
                                        <select class='form_checkbox_index' id="bairro" name="bairro">
                                            <option value="comprar">Casa</option>
                                            <option value="alugar">Apartamento</option>
                                            <option value="alugar">Comercial</option>
                                        </select>
                                    </div>
                                
                                </div>
    
                                <div class="form_row">
    
                                    <div class="form_field">
                                        <label for="tipo_imovel">Tipo de Imóvel</label>
                                        <select class='form_checkbox_index' id="tipo_imovel" name="tipo_imovel">
                                            <option value="comprar">Casa</option>
                                            <option value="alugar">Apartamento</option>
                                            <option value="alugar">Comercial</option>
                                        </select>
                                    </div>

                                    <div class="form_field">
                                        <label for="valor_min">Valor Mínimo</label>
                                        <input type="number" class="form_field_num" id="valor_min" name="valor_min" placeholder="Valor Mínimo (R$)">
                                    </div>

                                    <div class="form_field">
                                        <label for="valor_max">Valor Máximo</label>
                                        <input type="number" class="form_field_num" id="valor_max" name="valor_max" placeholder="Valor Máximo (R$)">
                                    </div>
                                
                                </div>
                            
                                <div class="form_row">
    
                                    <div class="form_field">
                                        <input class="submit_button" type="submit" placeholder="ENVIAR">
                                    </div>
                                
                                </div>
                                    
                                    
                            
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            <!-- Busca END -->



            <!-- Casas em Destaque START -->


            <!-- Casas em Destaque END -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
            <script src='{% static "script/cycle.js" %}'></script>
            <script>
                $(document).ready(function(){
                    $('#fade').cycle()
                    speed:    300
                    timeout:  5000
                    cleartypeNoBg: true
                });
                
                //FAZER ATUALIZAÇÃO DO BAIRROS
                
            </script>

        </div>
        <!-- MAIN CONTENT END--> 

    {% include 'partials/_footer.html' %}
    
{% endblock %}





