{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'partials/_menu.html' %}

        <!--Banner START-->
            <div class='banner' id="main_banner">
                <div id="fade">
                    <div class='unit'>
                        <img class="img_banner" id="img_banner_id" src="{% static 'images/casa2.jpg' %}">
                        <p id='text_banner'>Encontre aqui sua nova casa!"</p>
                    </div>
                    <div>
                        <img class="img_banner" id="img_banner_id" src="{% static 'images/casa4.jpg' %}">
                        <p id='text_banner'>Encontre aqui sua nova casa!2"</p>
                    </div>
                    <div>
                        <img class="img_banner" id="img_banner_id" src="{% static 'images/casa3.jpg' %}">
                        <p id='text_banner'>Encontre aqui sua nova casa!3"</p>
                    </div>

                    
                </div>
            </div>
        <!--Banner END-->


        <!-- MAIN CONTENT START-->    
        <div class="main_content">

            <!-- Busca START -->
                <div class='busca_container'>
                    <h2>ENCONTRE A CASA DOS SEUS SONHOS!</h2>
                    <div class="form_busca_div">
                        <form action=" " method="POST" id="form_busca">
                            <div class="form_format">
                                <div class="form_row">

                                    <div class="form_field">
                                        <label for="tipo_negocio">Imóvel para</label>
                                        <select class='form_checkbox_index' id="tipo_negocio" name="tipo_negocio">
                                            <option value="comprar">Comprar</option>
                                            <option value="alugar">Alugar</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form_field">
                                        <label for="cidade">Cidade</label>
                                        <select class='form_checkbox_index' id="cidade" name="cidade">
                                            <option value="comprar">Casa</option>
                                            <option value="alugar">Apartamento</option>
                                            <option value="alugar">Comercial</option>
                                        </select>
                                    </div>
    
                                    <div class="form_field">
                                        <label for="bairro">Bairro</label>
                                        <select class='form_checkbox_index' id="bairro" name="bairro">
                                            <option value="comprar">Casa</option>
                                            <option value="alugar">Apartamento</option>
                                            <option value="alugar">Comercial</option>
                                        </select>
                                    </div>
                                
                                </div>
    
                                <div class="form_row">
    
                                    <div class="form_field">
                                        <label for="tipo_imovel">Tipo de Imóvel</label>
                                        <select class='form_checkbox_index' id="tipo_imovel" name="tipo_imovel">
                                            <option value="comprar">Casa</option>
                                            <option value="alugar">Apartamento</option>
                                            <option value="alugar">Comercial</option>
                                        </select>
                                    </div>

                                    <div class="form_field">
                                        <label for="valor_min">Valor Mínimo</label>
                                        <input type="number" class="form_field_num" id="valor_min" name="valor_min" placeholder="Valor Mínimo (R$)">
                                    </div>

                                    <div class="form_field">
                                        <label for="valor_max">Valor Máximo</label>
                                        <input type="number" class="form_field_num" id="valor_max" name="valor_max" placeholder="Valor Máximo (R$)">
                                    </div>
                                
                                </div>
                            
                                <div class="form_row">
    
                                    <div class="form_field">
                                        <input class="submit_button" type="submit" placeholder="ENVIAR">
                                    </div>
                                
                                </div>
                                    
                                    
                            
                            </div>
                            
                            
                        </form>
                    </div>
                </div>
            <!-- Busca END -->

            <!-- Casas em Destaque START -->
                <div class="casas_destaque">
                    {% for imovel in imoveis %}

                        <a class="casa_destaque_link" href="/">
                            <div class="casa_destaque">
                                <img class='cd_linha casa_destaque_img' src="{% static 'images/casa1.jpg' %}">
                                <div class="cd_linha casa_destaque_bairro">{{ imovel.bairro }} - {{imovel.cidade}}</div>
                                <div class="cd_linha casa_destaque_negocio">{{ imovel.tipo_negocio }}</div>
                                <div class="cd_linha casa_destaque_caracteristicas">Quartos: {{ imovel.quartos }} - Banheiros: {{ imovel.banheiros }}</div>
                                
                                {% if imovel.tipo_negocio == 'Aluguel' %}
                                    <div class="valorAluguel cd_linha casa_destaque_valor">{{ imovel.valor_aluguel }}</div>
                                {% else %}
                                    <div class="valorVendas cd_linha casa_destaque_valor">{{ imovel.valor_venda }}</div>
                                {% endif %}
                          
                                <div class="cd_linha btn_area">
                                    <a class="cd_linha casa_destaque_btn" href="/">
                                        Sobre
                                    <a>
                                </div>
                                
                            </div>
                        </a>

                    {% endfor %}
                    
                    

                </div>

                

            <!-- Casas em Destaque END -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
            <script src='{% static "script/cycle.js" %}'></script>
            <script>
                //Formatação de Preços:

                document.addEventListener("DOMContentLoaded", function(event) {
                    let valoresAlugueis = document.getElementsByClassName('valorAluguel');
                    let valoresVendas = document.getElementsByClassName('valorVendas');

                    if(valoresAlugueis.length > 0){
                        for(n in valoresAlugueis){
                            valor = valoresAlugueis[n]
                            let formatValor = valor.innerText;
                            var formatado = formatar_precos(formatValor)
                            valor.innerText = 'R$ ' + formatado + ',00 / Mês'
                        }
                    }

                    if(valoresVendas.length > 0){
                        for(n in valoresVendas){
                            valor = valoresVendas[n]
                            let formatValor = valor.innerText;
                            var formatado = formatar_precos(formatValor)
                            valor.innerText = 'R$ ' + formatado + ',00'
                        }
                    }


                    /*
                    let valor = document.getElementById('valorAluguel').innerText;
                    var formatado = formatar_precos(valor)
                    document.getElementById('valorAluguel').innerText = 'R$ ' + formatado + ',00'

                    let valorVenda = document.getElementById('valorVenda').innerText;
                    var formatado = formatar_precos(valorVenda)
                    document.getElementById('valorVenda').innerText = 'R$ ' + formatado + ',00'
                    */
                });


                function formatar_precos(valor){

                    if(valor != undefined){
                        let valorstring = valor.toString();

                        if(valorstring.includes(',')){
                            valorstring = valorstring.slice(0, -2)
                        }

                        if(valorstring.length <= 3){
                            return valorstring;
                        }else{
                            valorArray = toArray(valorstring)
                            if(valorArray.length > 3){
                                for(pos = valorArray.length - 3; pos > 0; pos -= 3){
                                    valorArray.splice(pos, 0, '.');
                                }
                                return(valorArray.toString().replace(/,/gi, ''))
                            }else{
                                return(valorArray.toString().replace(/,/gi, ''))
                            }

                        }
                    }
                    
                }

                function toArray(string){
                    array = []
                    for(l in string){
                        array.push(string[l])
                    }
                    return array;
                }

                $(document).ready(function(){
                    $('#fade').cycle()
                    speed:    300
                    timeout:  5000
                    cleartypeNoBg: true
                });
                
                //FAZER ATUALIZAÇÃO DO BAIRROS
                
            </script>

        </div>
        <!-- MAIN CONTENT END--> 

    {% include 'partials/_footer.html' %}
    
{% endblock %}





